:javascript
  function renderShowLink (data, type, row) {
    return '<a href="/admin/#{@route}/' + row['_id'] + '">' + data + '</a>';
  }

  $.fn.dataTable.TableTools.buttons.download = $.extend(
    true,
    {},
    $.fn.dataTable.TableTools.buttonBase,
    {
        "sButtonText": "Download",
        "sUrl":      "",
        "sType":     "GET",
        "fnData":    false,
        "fnClick": function( button, config ) {
            var dt = new $.fn.dataTable.Api( this.s.dt );
            var data = dt.ajax.params() || {}; 
            var order = dt.order();

            // Optional static additional parameters
            // data.customParameter = ...;
 
            if ( config.fnData ) {
                config.fnData( data );
            }
 
            var iframe = $('<iframe/>', {
                    id: "RemotingIFrame"
                }).css( {
                    border: 'none',
                    width: 0,
                    height: 0
                } )
                .appendTo( 'body' );
                 
            var contentWindow = iframe[0].contentWindow;
            contentWindow.document.open();
            contentWindow.document.close();
             
            var form = contentWindow.document.createElement( 'form' );
            form.setAttribute( 'method', config.sType );
            form.setAttribute( 'action', config.sUrl + "?order=" + order );
 
            var input = contentWindow.document.createElement( 'input' );
            input.name = 'data';
            input.value = JSON.stringify( data );
             
            form.appendChild( input );
            contentWindow.document.body.appendChild( form );
            form.submit();
        }
    }
  );

%script(type="text/javascript")
  function renderAction (data, type, row) {
  - if warden.user(:sinatra_admin).remove_access?
    var html = '<form method="post" action="/admin/#{@route}/' + row['_id'] + '" style="margin: 0">';
    html += '#{csrf_tag}';
    html += '<input type="hidden" name="_method" value="delete"/>';
    html += '<button class="btn-link" id="delete_' + row['_id'] + '" type="submit">Delete</button></form>';
    return html;
  - else
    return '';
  }
  var columns = [
  - sep = ""
  - @configure.attribute_names.each do |attr|
    - unless attr.include?('s.')
      = "#{sep}{\"data\":\"#{attr}\"}"
      - sep = ","
  ,{"data":null}
  ];
  var columnsDefs = [
  { "render": renderShowLink, "targets": 0 }
  - idx = 0
  - @configure.attribute_names.each do |attr|
    - if attr == "_id"
      - metadata    = @model.fields[attr].options[:metadata]
      - next unless metadata
      - targetRoute = @model.fields[attr].options[:metadata].class_name.to_s.split(/\s|\::/).join('_').underscore.pluralize
      ,{ "targets":#{idx}, "render": function(data,type,row){ return '<a href="/admin/#{targetRoute}/' + data + '">' + data + '</a>'; } }
    - idx += 1
  ,{ "render": renderAction, "targets": #{idx}, "searchable": false, "orderable": false }
  ];

:javascript
  $(document).ready(function(){
    $('#atable tfoot th').each( function() {
      var title = $('#atable tfoot th').eq( $(this).index() ).text().trim();
      if (title != '') // TODO: don't hardcode ''  
        $(this).html('<input class="column_filter" style="width: 100%; padding: 3px; box-sizing: border-box;" type="text" placeholder="Search ' + title + '" />');
    });

    $('#atable').dataTable({
      "dom":"T<\"clear\">lrtip",
      "processing":true,
      "serverSide":true,
      "ajax":"/admin/#{@route}/data/json",
      "language": {
        "emptyTable": "There are no records in the database"
      },
      "columns": columns,
      "columnDefs": columnsDefs,
      "tableTools": {
        "sSwfPath": "/admin/swf/copy_csv_xls_pdf.swf",
        "aButtons": [
          {
            sExtends:  "xls",
            sButtonText: "Export Current Page",
            sFileName: "#{@route}.csv",
            mColumns: "sortable",
          },
          {
            sExtends: "download",
            sButtonText: "Export All",
            sUrl: "/admin/#{@route}/export/all"
          },
        ]
      },
      "initComplete": function () {
        var r = $('#atable tfoot tr');
        r.find('th').each(function(){$(this).css('padding', 8);});
        $('#atable thead').append(r);
        var t = $('#atable').DataTable();
      }
    });
    
    var table = $('#atable').DataTable(); 
    
    table.columns().eq(0).each( function(colIdx) {
      var timer = 0;
      var input = $('input', table.column(colIdx).footer());
      input.on('change', function() {
        clearTimeout(timer); 
        var value = $(this).val();
        timer = setTimeout(function(){
          table.column(colIdx).search(value, false, false).draw();
          timer = 0;
        }, 1000);
      });
    });
  });
