.row-fluid
  .span12
    %h2="#{@model.to_s} - Change Password"

.row-fluid
  .span12
    %ul.nav.nav-pills
      %li.disabled
        %a{href: "#"} Options
      %li
        %a{href: "/admin/#{@route}"} Index

.row-fluid
  .span12
    %form{method: 'post', action: "/admin/#{@route}/#{@resource.id}/update_password"}
      %fieldset
        %legend Please fill out the fields
        %input{name: "_method", type: "hidden", value: "put"}
          %label{for: "password"}= "password"
          %input{id: "password", type: "text", value: "", name: "data[password]"}
          %span= @resource.errors['password_hash'] if @resource.errors['password_hash'].any?
      %button.btn.btn-primary{type: "submit", id: "update"} Change Password
