.row-fluid
  .span12
    %h2="#{@model.to_s.pluralize} - Index"

.row-fluid
  .span12
    %ul.nav.nav-pills
      %li.disabled
        %a{href: "#"} Options
      %li
        %a{href: "/admin/#{@route}/new"} New
      %li
        %a{href: "/admin/#{@route}/export/all?sort=#{params[:sort]}&asc=#{params[:asc]}"} Export all
      %li
        %a{href: "/admin/#{@route}/export/page?page=#{params[:page] || 1}&sort=#{params[:sort]}&asc=#{params[:asc]}"} Export current page

.row-fluid
  .span12
    %table.table.table-hover.table-condensed
      %thead
        %tr
          - @model.attribute_names.each do |attr|
            %th
              %a{href: "/admin/#{@route}?sort=#{attr}&asc=#{params[:asc]=='false'}&page=#{params[:page] || 1}"} 
                = attr
                = params[:sort] == attr ? (params[:asc] == 'true' ? '&uarr;' : '&darr;' )  : ''

      %tbody
        - if @collection.any?
          - @collection.each do |record|
            %tr
              - @model.attribute_names.each do |attr|
                - if attr.eql?('_id')
                  %td
                    %a{href: "/admin/#{@route}/#{record.send(attr)}"}
                      = record.send(attr)
                - else
                  %td
                    = record.send(attr)
              %td
                %form{method: 'post', action: "/admin/#{@route}/#{record.id}", style: "margin: 0"}
                  %input{name: "_method", type: "hidden", value: "delete"}
                  %button.btn-link{type: "submit", id: "delete_#{record.id}"} Delete
        - else
          %tr
            %td{colspan: "#{@model.attribute_names.size}"}
              %h5 There are not records in the database
.row-fluid
  .span12
    = will_paginate @collection
