.row-fluid
  .span12
    %h2="#{@model.to_s.pluralize} - Index"

.row-fluid
  .span12
    %ul.nav.nav-pills
      %li.disabled
        %a{href: "#"} Options
      - if warden.user(:sinatra_admin).create_access?
        %li
          %a{href: "/admin/#{@route}/new"} New

.row-fluid
  .span12
    %table.table.table-hover.table-condensed.display{id: 'atable'}
      %thead
        %tr
        - @configure.attribute_names.each do |attr|
          - unless attr.include?('s.')
            %th
              = attr
        %th
          Actions
     
      %tbody

      %tfoot
        %tr
        - @configure.attribute_names.each do |attr|
          - unless attr.include?('s.')
            %th
              = attr
        %th
          &nbsp;

= haml :_index_dt_js
