.row-fluid
  .span12
    %h2="#{@model.to_s} - New"

.row-fluid
  .span12
    %ul.nav.nav-pills
      %li.disabled
        %a{href: "#"} Options
      %li
        %a{href: "/admin/#{@route}"} Index

.row-fluid
  .span12
    %form{method: 'post', action: "/admin/#{@route}/"}
      %fieldset
        %legend Please fill out the fields
        - (@model.attribute_names - @model.protected_attributes.to_a).each do |attr|
          - if attr.eql?("roles") && @model.to_s.eql?('SinatraAdmin::Admin')
            %label{for: attr}= attr
            - (0..2).each do |i|
              %select.span2{name: "data[roles][]"}
                %option{value: ''} Select Role
                - SinatraAdmin::Admin::ROLES.each do |role|
                  - if @resource[:roles].present? && @resource[:roles][i] == role
                    %option{value: role, selected: "selected"} #{role}
                  - else
                    %option{value: role} #{role}
            %span= @resource.errors[:roles] if @resource.errors[:roles].any?
          - elsif attr.eql?("password_hash")
            %label{for: "password"}= "password"
            %input{id: "password", type: "text", value: "#{@resource[attr]}", name: "data[password]"}
            %span= @resource.errors[attr] if @resource.errors[attr].any?
          - else
            %label{for: "#{attr}"}= attr
            %input{id: "#{attr}", type: "text", value: "#{@resource[attr]}", name: "data[#{attr}]"}
            %span= @resource.errors[attr] if @resource.errors[attr].any?
      %button.btn.btn-primary{type: "submit", id: "create"} Create
