.row-fluid
  .span12
    %h2="#{@model.to_s} - Show"

.row-fluid
  .span12
    %ul.nav.nav-pills
      %li.disabled
        %a{href: "#"} Options
      %li
        %a{href: "/admin/#{@route}"} Index
      - if warden.user(:sinatra_admin).edit_access?
        %li
          %a{href: "/admin/#{@route}/#{@resource.id}/edit"} Edit

.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li.active
        %a{href: "#"} Details

    - @configure.attribute_names.each do |attr|
      %p
        %span
          %code= "#{attr}: "
        %span
          - if attr.eql?("password_hash")
            *****
            %a{href: "/admin/#{@route}/#{@resource.id}/change_password"} Change Password
          - else
            = @resource.send(attr)
