.row-fluid
  .span12
    %h2="#{@model.to_s} - Show"

.row-fluid
  .span12
    %ul.nav.nav-pills
      %li.disabled
        %a{href: "#"} Options
      %li
        %a{href: "/admin/#{@route}"} Index
      - if warden.user(:sinatra_admin).edit_access?
        %li
          %a{href: "/admin/#{@route}/#{@resource.id}/edit"} Edit

.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li.active
        %a{href: "#"} Details

    - @configure.attribute_names.each do |attr|
      %p
        %span
          %code= "#{attr}: "
        %span
          - if attr.include?('.')
            - assoc_key, assoc_attr = attr.split('.')
            - if assoc_key == assoc_key.pluralize
              %ul.inline
                - @resource.send(assoc_key).each do |assoc|
                  - if assoc_attr == "url"
                    %li.thumbnail
                      %img(src="#{assoc.send(assoc_attr)}" style="display: block; margin: 0 auto; width: 72px; height: 72px;")
                  - else
                    %li
                      %span
                        %code= "#{assoc_attr}: "
                      %span= assoc.send(assoc_attr)
            - else
              = @resource.send(assoc_key).send(assoc_attr)
          - else
            - if attr.eql?("password_hash")
              *****
              %a{href: "/admin/#{@route}/#{@resource.id}/change_password"} Change Password
            - else
              = @resource.send(attr)
