.row-fluid
  .span12
    %h2="#{@model.to_s} - Show"

.row-fluid
  .span12
    %ul.nav.nav-pills
      %li.disabled
        %a{href: "#"} Options
      %li
        %a{href: "/admin/#{@route}"} Index
      %li
        %a{href: "/admin/#{@route}/#{@resource.id}/edit"} Edit

.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li.active
        %a{href: "#"} Details

    - @model.attribute_names.each do |attr|
      %p
        %span
          %code= "#{attr}: "
        %span= @resource.send(attr)
